#clock{
	top: 0.5%;
	left: 0.5%;
}

#clock-box{
    width: 40px;
    height: 15px;
    background-color: #CAFCFF;
    border-radius: 15%;
}

#t-1 {
    position: absolute;
    margin: 0px;
    top: 21.5%;
    left: 19.8%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#t-2 {
    position: absolute;
    margin: 0px;
    top: 44.5%;
    left: 16.3%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#t-3 {
    position: absolute;
    margin: 0px;
    top: 21%;
    left: 52.5%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#t-4 {
    position: absolute;
    margin: 0px;
    top: 21%;
    left: 63%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#t-5 {
    position: absolute;
    margin: 0px;
    top: 45%;
    left: 59.5%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#t-6 {
    position: absolute;
    margin: 0px;
    top: 43.5%;
    left: 49.5%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#t-7 {
    position: absolute;
    margin: 0px;
    top: 60.9%;
    left: 58.9%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#t-8 {
    position: absolute;
    margin: 0px;
    top: 63.5%;
    left: 46.2%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#t-9 {
    position: absolute;
    margin: 0px;
    top: 83%;
    left: 57%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#t-10 {
    position: absolute;
    margin: 0px;
    top: 92.5%;
    left: 30.5%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

/*
    Sensors 11-13 in particular are for the sensors measuring the inside of the thermal tank.
*/
#t-11 {
    position: absolute;
    margin: 0px;
    top: 44.5%;
    left: 75.2%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#t-12 {
    position: absolute;
    margin: 0px;
    top: 60.5%;
    left: 75.2%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#t-13 {
    position: absolute;
    margin: 0px;
    top: 78%;
    left: 75%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#t-internal {
    position: absolute;
    margin: 0px;
    top: 5.5%;
    left: 37.7%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#t-external {
    position: absolute;
    margin: 0px;
    top: 5.5%;
    left: 47%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#sr-1 {
    position: absolute;
    margin: 0px;
    top: 13.5%;
    left: 7.7%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

/*
The following are positions for the flow sensors.
*/
#f-1 {
    position: absolute;
    margin: 0px;
    top: 41%;
    left: 35%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#f-2 {
    position: absolute;
    margin: 0px;
    top: 85%;
    left: 38%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#f-3 {
    position: absolute;
    margin: 0px;
	top: 63.5%;
    left: 36%;
    width: 3.5%;
    height: 2%;
    font-size: 2vh;
}

#p1_status_indicator {
    position: absolute;
    background-color: RED;
    top: 39%;
    left: 22.7%;
    width: 5%;
    height: 2.5%;
    border-style: solid;
    font-size: 2vh;
}

#p2_status_indicator {
    position: absolute;
    background-color: RED;
    top: 83%;
    left: 23%;
    width: 5%;
    height: 2.5%;
    border-style: solid;
    font-size: 2vh;
}

#p3_status_indicator {
    position: absolute;
    background-color: RED;
    top: 62.2%;
    left: 22.5%;
    width: 5%;
    height: 2.5%;
    border-style: solid;
    font-size: 2vh;
}

#heat_pump_status_indicator {
    position: absolute;
    background-color: RED;
    top: 55.5%;
    left:6.8%;
    width: 5%;
    height: 2.5%;
    border-style: solid;
    font-size: 2vh;
}

#chiller_status_indicator {
    position: absolute;
    background-color: RED;
    top: 76.5%;
    left:6.8%;
    width: 5%;
    height: 2.5%;
    border-style: solid;
    font-size: 2vh;
}

#download_container {
    position: absolute;
    top: 7%;
    left: 70%;
}


/*
    Prototypes for the control part of the project. Currently dysfunctional
*/

/*
#ph1 {
    position: relative;
    top: 10px;
    left: 95px;
}

#ph2 {
    position: relative;
    top: 10px;
    left: 340px;
}

#btn-container {
    position: relative;
    display: block;
    top: -10px;
    left: 710px;
}
*/