/*
    This file contains all of the formatting CSS for individual sensor display boxes.

    This setup allows flexibility and adaptability by giving the user the ability to adjust the positions of any such
    boxes when including new additions, or reorganizing the visual setup of the GUI.
*/

/*
    The following are positions for the temperature sensors.
*/
#t-1 {
    position: absolute;
    margin: 0px;
    top: 21.5%;
    left: 19.8%;
    width: 3%;
    height: 2%
}

#t-2 {
    position: absolute;
    margin: 0px;
    top: 36.8%;
    left: 19.8%;
    width: 3%;
    height: 2%
}

#t-3 {
    position: absolute;
    margin: 0px;
    top: 21%;
    left: 52.5%;
    width: 3%;
    height: 2%
}

#t-4 {
    position: absolute;
    margin: 0px;
    top: 21%;
    left: 63%;
    width: 3%;
    height: 2%
}

#t-5 {
    position: absolute;
    margin: 0px;
    top: 45%;
    left: 59.5%;
    width: 3%;
    height: 2%
}

#t-6 {
    position: absolute;
    margin: 0px;
    top: 43.5%;
    left: 49.5%;
    width: 3%;
    height: 2%
}

#t-7 {
    position: absolute;
    margin: 0px;
    top: 60.9%;
    left: 58.9%;
    width: 3%;
    height: 2%
}

#t-8 {
    position: absolute;
    margin: 0px;
    top: 63.5%;
    left: 46.2%;
    width: 3%;
    height: 2%
}

#t-9 {
    position: absolute;
    margin: 0px;
    top: 83%;
    left: 57%;
    width: 3%;
    height: 2%
}

#t-10 {
    position: absolute;
    margin: 0px;
    top: 83.5%;
    left: 34.5%;
    width: 3%;
    height: 2%
}

/*
    Sensors 11-13 in particular are for the sensors measuring the inside of the thermal tank.
*/
#t-11 {
    position: absolute;
    margin: 0px;
    top: 44.5%;
    left: 75.2%;
    width: 3%;
    height: 2%
}

#t-12 {
    position: absolute;
    margin: 0px;
    top: 60.5%;
    left: 75.2%;
    width: 3%;
    height: 2%
}

#t-13 {
    position: absolute;
    margin: 0px;
    top: 78%;
    left: 75%;
    width: 3%;
    height: 2%
}

#t-14 {
    position: absolute;
    margin: 0px;
    top: 5%;
    left: 11.5%;
    width: 3%;
    height: 2%
}

#t-15 {
    position: absolute;
    margin: 0px;
    top: 5.5%;
    left: 24%;
    width: 3%;
    height: 2%
}

/*
The following are positions for the flow sensors.
*/
#f-1 {
    position: absolute;
    margin: 0px;
    top: 41%;
    left: 35%;
    width: 3%;
    height: 2%
}

#f-2 {
    position: absolute;
    margin: 0px;
    top: 63.5%;
    left: 36%;
    width: 3%;
    height: 2%
}

#f-3 {
    position: absolute;
    margin: 0px;
    top: 85%;
    left: 38%;
    width: 3%;
    height: 2%
}

/*
    The following are positions for the solar radiation sensors.
*/
#sr-1 {
    position: absolute;
    margin: 0px;
    top: 5.5%;
    left: 47%;
    width: 3%;
    height: 2%
}


#p1_status_indicator {
    position: absolute;
    background-color: RED;
    top: 39%;
    left: 23%;
    width: 5%;
    height: 2.5%;
}

#p2_status_indicator {
    position: absolute;
    background-color: RED;
    top: 62.2%;
    left: 22.4%;
    width: 5%;
    height: 2.5%;
}

#p3_status_indicator {
    position: absolute;
    background-color: RED;
    top: 83%;
    left: 23%;
    width: 5%;
    height: 2.5%;
}

#csv_raw_download_button_container {
    position: absolute;
    top: 7%;
    left: 70%;
}

#csv_raw_download_button {
    position: relative;
    width: 100%;
    height: 100%;
}



/*
    Prototypes for the control part of the project. Currently dysfunctional
*/

/*
#ph1 {
    position: relative;
    top: 10px;
    left: 95px;
}

#ph2 {
    position: relative;
    top: 10px;
    left: 340px;
}

#btn-container {
    position: relative;
    display: block;
    top: -10px;
    left: 710px;
}
*/